<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="assets/логотип.png" />
      </div>
      <div class="col-8">
        <ul class="nav">
          <li class="clas"><a href="#">Home</a></li>
          <li class="clas"><a href="#">About</a></li>
          <li class="clas"><a href="#">Services</a></li>
          <li class="clas"><a href="#">Work</a></li>
          <li class="clas"><a href="#">Pricing</a></li>
          <li class="clas"><a href="#">Blog</a></li>
          <li class="clas">
            <a href="#"
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i
            ></a>
          </li>
          <li class="clas">
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"
              ><button type="button" class="btn btn-primary btn-lg">
                Download Now
              </button></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="clas2">
          <b class="bi"><b>Finance</b> </b>
          <span class="di"> Tracker, Budget</span>
          <b class="bi"> Planner.</b>
        </div>
        <span class="clas3"
          >Where finance, sales and operations work together.</span
        >
      </div>
      <div class="col-5">
        <div class="bts">
          <div class="img13"><img src="assets/chart.png" class="div6" /></div>
          <div class="div7">
            <span class="kkk">Track Your Spending</span><br /><span class="jjj2"
              >Jan 2019 - Dec 2019</span
            >
          </div>
          <div class="bts2"><img src="assets/график.PNG" class="grafic" /></div>
        </div>
        <div class="div2">
          <img src="assets/стрелка3.PNG" class="arrow" /><span class="span5"
            >Income for last week<br /><span class="span6">+ $750</span></span
          >
        </div>
        <div class="div3">
          <img src="assets/стрелка3.PNG" class="arrow" /><span class="span5"
            >Income for January<br /><span class="span6">+ $1,250</span></span
          >
        </div>
      </div>
      <img src="assets/google-play-badge.png" class="img" />
      <img src="assets/download-on-the-app-store-apple.svg" class="img1" />
    </div>
  </div>
</div>
