<footer>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="uuu">
          <span class="uni">
            UNICORP
            <br /><br />
            <span class="white"
              >123 W 34th St, New York.<br />
              <span class="green">(+1) 212-946-2707</span>
              info@unicorp.com</span
            ></span
          >
          <div class="icons">
            <img src="assets/icons8-color-35.png" />
            <img src="assets/icons8-color-45.png" />
            <img src="assets/icons8-color-40.png" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="uuu">
          <span class="uni">
            USEFUL LINKS
          </span>
          <br /><br />
          <span class="grey">
            Services<br />
            About<br />
            Careers <a href="" class="badge badge-primary">NEW</a><br />
            Blog
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="uuu">
          <span class="uni">
            PRODUCTS
          </span>
          <br /><br />
          <span class="grey">
            Apps <a href="" class="badge badge-primary">NEW</a><br />
            Integations<br />
            Pricing<br />
            Request a Demo
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="uuu">
          <span class="uni">
            RESOURCES
          </span>
          <br /><br />
          <span class="grey">
            Knowledge Base Become a Partner Help Desk<br />
            Uptime <a href="" class="badge badge-success">99%</a>
          </span>
        </div>
      </div>
      <div class="col-3">
        <div class="uuu">
          <span class="uni">
            NEWSLETTER
          </span>
          <br /><br />
          <span class="white">
            Get everuthing you need to succed!
          </span>
          <br />
          <form>
            <div class="group">
              <input type="text" required />
              <span class="bar"></span>
              <label>Entere your Email</label>
              <img src="icons8-отправлено-35.png" class="ttt" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />
    <div class="col-6">
      <span class="black">
        ©2020 UniCorp by Viworx-Co. All Rights Reserved.
      </span>
    </div>
    <div class="col-3">
      <span class="grey">Terms of Use Privacy Sitemap</span>
    </div>
  </div>
</footer>
