<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="img2">
        <img src="assets/копия3.png" />
      </div>
    </div>
    <div class="col-6">
      <div class="down2">
        <p class="all2">ALL YOUR MONEY IN ONE PLACE</p>
        <div class="under2"></div>
        <div class="row32">
          Have perfect control over all your cash expences.
        </div>

        <div class="text4">
          We help you create a monthly bufget so you can achhieve your money
          goals.<br />
          Say goodbye to money stress and hello to confidence in your financial
          future.<br />
          Create your first budget in less than 10 minutes.
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-sm">
        We bring all of money to one place
      </button>
      <div class="text5">
        We bring together all of your accounts, bills and more, so you can
        conveninently manage your finances from one dashboard. See all of your
        bills and money at a glance.
      </div>
      <div class="bloki">
        <div class="block">
          Create budgets easily with tips tailored to you
        </div>
        <div class="block">
          Never miss a payment with alerts when bills are due
        </div>
        <div class="block">
          Sign in sacurely with your unique 4-digit code
        </div>
      </div>
    </div>
  </div>
</div>
