<div class="row8">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="down3">
          <p class="all3">INTUITIVE FEATURES, POWERFUL RESULTS</p>
          <div class="under3"></div>
          <div class="row33">We're commited to keeping your data secure.</div>
          <div class="text6">
            From budgets and bills to free credit score and more, you'll
            discover the effortless way to stay on top of it all. Sign up Free!
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="img6">
          <img src="assets/копия8.PNG" />
        </div>
      </div>
      <div class="bbb">
        <button type="button" class="btn btn-primary">Sign Up Now</button>
      </div>
    </div>
  </div>
</div>
