<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="down">
        <p class="all">IT'S ALL COMING TOGETHER</p>
        <div class="under"></div>
        <div class="row3">
          We help you mange your<br />
          finances in one place.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row4">
        We bring together everything from balances and bills to your credit
        score and more. It's your financial life, in one place that's easy to
        understand.
      </div>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-light">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-light" class="pen">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="car">
        <img src="assets/emblem-library (2).png" class="round" />
        <div class="diva">
          <p class="text2">All-in-one finances</p>
          <p class="text3">
            We bring all of your money to one place, from balances and bills to
            credit score and more.
          </p>
          <p class="sylka"><a href="#">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="car">
        <img src="assets/cube (1).png" class="round" />
        <div class="diva">
          <p class="text2">Free to set up</p>
          <p class="text3">
            We bring all of your money to one place, from balances and bills to
            credit score and more.
          </p>
          <p class="sylka"><a href="#">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="car">
        <img src="assets/calendar (1).png" class="round" />
        <div class="diva">
          <p class="text2">Automatically update</p>
          <p class="text3">
            We bring all of your money to one place, from balances and bills to
            credit score and more.
          </p>
          <p class="sylka"><a href="#">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="car">
        <img src="assets/time_clock.png" class="round" />
        <div class="diva">
          <p class="text2">Plan your expenses</p>
          <p class="text3">
            We bring all of your money to one place, from balances and bills to
            credit score and more.
          </p>
          <p class="sylka"><a href="#">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
