<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="ooo">
        Our customors love what we do
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="hhh">
        <div class="rrr">
          <span class="lll"
            >The most friendly and best laid out personal finace app. Love it!
            After trying several other paid apps I'm happy to end my search
            here!<br /><br />Greate job!<br />
            <div class="img8"></div>
            <div class="stars">
              <span class="stars2">Monica Belucci</span><br />FINANCE
              DIRECTOR<br /><span class="stars3">★ ★ ★ ★ ★</span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="hhh">
        <div class="rrr">
          <span class="lll"
            >The most friendly and best laid out personal finace app. Love it!
            After trying several other paid apps I'm happy to end my search
            here!<br /><br />Greate job!<br />
            <div class="img9"></div>
            <div class="stars">
              <span class="stars2">Johnny Depp</span><br />FINANCE DIRECTOR<br /><span
                class="stars3"
                >★ ★ ★ ★ ★</span
              >
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="hhh">
        <div class="rrr">
          <span class="lll"
            >The most friendly and best laid out personal finace app. Love it!
            After trying several other paid apps I'm happy to end my search
            here!<br /><br />Greate job!<br />
            <div class="img10"></div>
            <div class="stars">
              <span class="stars2">Selena Gomez</span><br />FINANCE DIRECTOR<br /><span
                class="stars3"
                >★ ★ ★ ★ ★</span
              >
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="icon1">
        <img src="assets/иконки.PNG" />
      </div>
      <div class="end1">
        <div class="sin">
          <span class="blue">Sign up for UniCorp today!</span><br /><br />
          From budgets and bills to free credit score and <br />
          more, you'll discover the effortless way to stay <br />
          on top of it all.
        </div>
        <div class="ddd">
          <button type="button" class="btn btn-primary">
            Sign up Now
          </button>
        </div>
        <img src="assets/снимок5.jpg" class="snimok" />
      </div>
    </div>
  </div>
</div>
